<% if marks.any? %>
  <ul class="mark_archive_list d-flex flex-wrap">
    <% marks.each do |mark| %>
      <li class="mr-4 mb-4">
        <a class="url_link mb-2 hover" href="<%= mark.url %>">
          <%= image_tag 'https://s.wordpress.com/mshots/v1/' + mark.url + '?w=640&h=480', class: 'thumb' %>
          <%= image_tag 'https://www.google.com/s2/favicons?domain=' + mark.url, class: 'favicon' %>
        </a>
        <p class="mb-0"><%= link_to mark.name, mark.url, class: 'title' %></p>
        <p><%= link_to mark.url, mark.url, class: 'url' %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>まだブックマークはありません。</p>
<% end %>