<% if marks.any? %>
  <ul class="mark_archive_list d-flex flex-wrap sortable">
    <% marks.each do |mark| %>
      <li class="mb-4" id="<%= mark.id %>" data-model-name="mark" data-update-url="<%= mark_sort_url(mark) %>">
        
        <a class="thumb_area url_link mb-2 hover" href="<%= mark.url %>" <%= 'target="_blank"' if current_user && current_user.user_config.mark_target == 0 %>>
          <%= image_tag 'https://s.wordpress.com/mshots/v1/' + mark.url + '?w=640&h=480', class: 'thumb' %>
          <%= image_tag 'https://www.google.com/s2/favicons?domain=' + mark.url, class: 'favicon' %>
        </a>
        
        <% if current_user && current_user.user_config.mark_target == 0 %>
          <p class="mb-0"><%= link_to mark.title, mark.url, class: 'title text-dark', target: '_blank' %></p>
          <p class="url"><%= link_to mark.url, mark.url, class: 'text-muted', target: '_blank' %></p>
        <% else %>
          <p class="mb-0"><%= link_to mark.title, mark.url, class: 'title text-dark' %></p>
          <p class="url"><%= link_to mark.url, mark.url, class: 'text-muted' %></p>
        <% end %>
        <%= mark.protect %>
        <% if user_signed_in? %>
          <%= link_to sanitize('<i class="fa fa-ellipsis-h"></i>'), edit_mark_path(mark), class: 'circle_btn setting' %>
        <% end %>
      </li>
    <% end %>
      <% if user_signed_in? && controller.controller_name == 'static_pages' && controller.action_name == 'home'%>
        <li>
          <%= render 'marks/add_btn' %>
        </li>
      <% end %>
  </ul>
<% else %>
  <p>まだブックマークはありません。</p>
  <% if user_signed_in? && controller.controller_name == 'static_pages' && controller.action_name == 'home'%>
    <ul class="mark_archive_list d-flex flex-wrap">
      <li>
        <%= render 'marks/add_btn' %>
      </li>
    </ul>
  <% end %>
<% end %>

