<% if marks.any? %>
  <ul class="mark_archive_list d-flex flex-wrap sortable">
    <% marks.each do |mark| %>
      <li class="mr-0 mr-md-4 mb-4" id="<%= mark.id %>" data-model-name="mark" data-update-url="<%= mark_sort_url(mark) %>">
        
        <a class="thumb_area url_link mb-2 hover" href="<%= mark.url %>">
          <%= image_tag 'https://s.wordpress.com/mshots/v1/' + mark.url + '?w=640&h=480', class: 'thumb' %>
          <%= image_tag 'https://www.google.com/s2/favicons?domain=' + mark.url, class: 'favicon' %>
        </a>
        
        <p class="mb-0"><%= link_to mark.title, mark.url, class: 'title' %></p>
        <p class="url"><%= link_to mark.url, mark.url %></p>
        
        <% if user_signed_in? %>
          <%= link_to sanitize('<i class="fa fa-ellipsis-h"></i>'), edit_mark_path(mark), class: 'circle_btn setting' %>
        <% end %>
      </li>
    <% end %>
      <% if user_signed_in? && controller.controller_name == 'static_pages' && controller.action_name == 'home'%>
        <li>
          <button class="add_mark_btn hover" data-toggle="modal" data-target="#addMarkModal"><i class="fa fa-plus-circle"></i></button>
        </li>
      <% end %>
  </ul>
<% else %>
  <p>まだブックマークはありません。</p>
  <% if user_signed_in? && controller.controller_name == 'static_pages' && controller.action_name == 'home'%>
    <ul class="mark_archive_list d-flex flex-wrap">
      <li>
        <button class="add_mark_btn hover" data-toggle="modal" data-target="#addMarkModal"><i class="fa fa-plus-circle"></i></button>
      </li>
    </ul>
  <% end %>
<% end %>

