<% content_for(:title, 'ブックマーク登録') %>
<% content_for(:body_class, 'marks') %>
<% content_for(:body_id, 'new') %>

<h1 class="text-center">ブックマーク登録</h1>

<div class="row justify-content-center">
  <div class="col-12 col-md-6">

    <%= form_for(@mark) do |f| %>
  
      <%= render 'shared/error_messages', object: f.object %>
  
      <div class="form-group">
        <%= f.label :url, 'URL' %>
        <%= f.text_field :url, class: 'form-control' %>
      </div>
      
      <%= f.submit '登録', class: 'btn btn-block btn-secondary' %>
    <% end %>
    
  </div>
</div>