<% if site_title = Setting.find_by(slug: 'site_title') %>
  <% content_for(:title, site_title.content.present? ? site_title.content.html_safe : '') %>
<% end %>
<% content_for(:body_class, 'home') %>
<% content_for(:body_id, 'home') %>

<% if user_signed_in? %>

  <section class="mb-5">
    <h1><i class="fa fa-bookmark mr-2"></i>マイブックマーク</h1>
    <%= render 'marks/marks', marks: @marks %>
    <!-- Modal Start-->
    <div class="modal fade" id="addMarkModal" tabindex="-1" role="dialog" aria-labelledby="addMarkModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addMarkModalLabel">ブックマーク追加</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_for(@mark) do |f| %>
            <div class="modal-body">
  
              <div class="form-group">
                <%= f.label :url, 'URL' %>
                <%= f.text_field :url, class: 'form-control' %>
              </div>
  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">閉じる</button>
              <%= f.submit '設定', class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div><!-- .modal -->
    <!-- Modal End-->
  </section>
  
  <script>
    $('.sortable').sortable({
      opacity: 0.7,
      delay: 200,
      revert: true,
      tolerance: "pointer",
      scrollSensitivity: 100,
      update: function(event, ui){
        item = ui.item;
        item_data = item.data();
        console.log('update');
        params = { _method: 'put' }
        params[item_data.modelName] = { order_num_position: item.index() }
        $.ajax({
          type: 'POST',
          url: item_data.updateUrl,
          dataType: 'json',
          data: params,
          success: function(data) {
            console.log("data send success");
          },
          error: function(data) {
            console.log("data send error");
          }
        });
      }
    })
  </script>

<% else %>
  <section class="jumbotron text-center bg-white">
    <div class="container">
      <h1 class="jumbotron-heading h1 mb-4">ブックマーク管理をより便利に</h1>
      <p class="lead text-muted mb-5">あなただけのブックマークを設定できます。</p>
      <%= link_to 'ユーザー登録', new_user_registration_path, class: 'btn btn-lg btn-outline-info' %>
      <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-lg btn-outline-info' %>
    </div>
  </section>
<% end %>