<nav class="navbar navbar-light bg-light navbar-expand-md fixed-top border-bottom">
  <a class="navbar-brand" href="/">FAV SITES</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbars">
    <% if user_signed_in? %>
      <div class="d-block d-md-none row bg-white p-3"><%= current_user.name %></div>
    <% end %>
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? && current_user.root %>
        <li class="nav-item">
          <%= link_to(content_tag(:i, '', class: 'fa fa-database mr-2') + 'DB図', dbmap_path, class: 'nav-link text-dark') %>
        </li>
      <% end %>
      <% if user_signed_in? && current_user.admin %>
        <li class="nav-item">
          <%= link_to(content_tag(:i, '', class: 'fa fa-cog mr-2') + 'サイト設定', settings_path, class: 'nav-link text-dark') %>
        </li>
      <% end %>

      <% if user_signed_in? %>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li class="nav-item d-md-none">
          <%= link_to(content_tag(:i, '', class: 'fa fa-home  mr-2') + 'トップページ',root_path, class: 'nav-link text-dark') %>
        </li>
        <li class="nav-item d-md-none">
          <%= link_to(content_tag(:i, '', class: 'fa fa-user mr-2') + 'アカウント情報の変更', edit_user_registration_path, class: 'nav-link text-dark') %>
        </li>
        <li class="nav-item d-md-none">
          <%= link_to(content_tag(:i, '', class: 'fa fa-cog mr-2') + '設定', edit_user_config_path, class: 'nav-link text-dark') %>
        </li>
        <li class="nav-item d-md-none">
          <%= link_to(content_tag(:i, '', class: 'fa fa-sign-out mr-2') + 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-dark') %>
        </li>
      
        <li class="nav-item d-none d-md-block dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="/" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o mr-2"></i><%= current_user.name %> さん</a>
          <div class="dropdown-menu">
            <h2><%= current_user.name %></h2>
            <%= link_to(content_tag(:i, '', class: 'fa fa-home  mr-2') + 'トップページ',root_path, class: 'dropdown-item') %>
            <%= link_to(content_tag(:i, '', class: 'fa fa-user mr-2') + 'アカウント情報の変更', edit_user_registration_path, class: 'dropdown-item') %>
            <%= link_to(content_tag(:i, '', class: 'fa fa-cog mr-2') + '設定', edit_user_config_path, class: 'dropdown-item') %>
            <%= link_to(content_tag(:i, '', class: 'fa fa-sign-out mr-2') + 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
          </div>
        </li>
        
      <% else %>
        <li class="nav-item">
          <%= link_to(content_tag(:i, '', class: 'fa fa-user-plus mr-2') + 'ユーザー登録', new_user_registration_path, class: 'nav-link text-dark') %>
        </li>
        <li class="nav-item">
          <%= link_to(content_tag(:i, '', class: 'fa fa-sign-in mr-2') + 'ログイン', new_user_session_path, class: 'nav-link text-dark') %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>