<!DOCTYPE html>
<html lang="ja">
<head>
<title><%= content_for?(:title) ? yield(:title) + ' | FavSites' : 'FavSites' %></title>
<%= yield(:meta) %>
<meta charset="utf-8">
<meta http-equiv="content-language" content="ja">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<% if home_meta_kayword = Setting.find_by(slug: 'home_meta_kayword') %>
  <meta name="keywords" content="<%= home_meta_kayword.content.present? ? home_meta_kayword.content : '' %>"/>
<% end %>
<% if home_meta_description = Setting.find_by(slug: 'home_meta_description') %>
  <meta name="description" content="<%= home_meta_description.content.present? ? home_meta_description.content : '' %>"/>
<% end %>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

<% if header_tag = Setting.find_by(slug: 'header_tag') %>
  <%= header_tag.content.present? ? header_tag.content.html_safe : '' %>
<% end %>

</head>

<% if current_user && current_user.user_config.bg_image %>
  <style>
    body{
      background: url(<%= current_user.user_config.bg_image.url %>) center center;
      background-size: cover;
    }
  </style>
<% end %>

<% if current_user && current_user.user_config.col_num %>
  <style>
    .mark_archive_list{
      margin-right: -20px;
    }
    .mark_archive_list li{
      width: calc(100% / <%= current_user.user_config.col_num %> - 20px);
      margin-right: 20px;
    }
    @media (max-width: 767.98px) {
      .mark_archive_list li{
        width: calc(100% / 2 - 20px);
      }
    }
  </style>
<% else %>
  <style>
    .mark_archive_list{
      margin-right: -20px;
    }
    .mark_archive_list li{
      width: calc(100% / 4 - 20px);
      margin-right: 20px;
    }
    @media (max-width: 767.98px) {
      .mark_archive_list li{
        width: calc(100% / 2 - 20px);
      }
    }
  </style>
<% end %>





<body class="<%= yield(:body_class) %>" id="<%= yield(:body_id) %>">
  
  <header>
    <%= render 'layouts/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </header>
  
  <% if controller.controller_name == 'static_pages' && controller.action_name == 'home' && current_user && (current_user.user_config.col_num > 7 ) %>
    <main role="main" class="p-5">
      <article class="main-content">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </article>
    </main>
  <% else %>
    <div class="container" id="container">
      <div class="row">
        <main role="main" class="col-12">
          <article class="main-content">
            <%= render 'layouts/flash_messages' %>
            <%= yield %>
          </article>
        </main>
      </div><!-- .row -->
    </div><!-- .container -->
  <% end %>
    

  
  <footer class="bg-light mt-5 border-top">
    <%= render 'layouts/footer' %>
  </footer>
  
  
  <% if footer_tag = Setting.find_by(slug: 'footer_tag') %>
    <%= footer_tag.content.present? ? footer_tag.content.html_safe : '' %>
  <% end %>
  
</body>
  
</html>