<!DOCTYPE html>
<html lang="ja">
<head>
<title><%= content_for?(:title) ? yield(:title) + ' | FavSites' : 'FavSites' %></title>
<%= yield(:meta) %>
<meta charset="utf-8">
<meta http-equiv="content-language" content="ja">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<% if home_meta_kayword = Setting.find_by(slug: 'home_meta_kayword') %>
  <meta name="keywords" content="<%= home_meta_kayword.content.present? ? home_meta_kayword.content : '' %>"/>
<% end %>
<% if home_meta_description = Setting.find_by(slug: 'home_meta_description') %>
  <meta name="description" content="<%= home_meta_description.content.present? ? home_meta_description.content : '' %>"/>
<% end %>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<% if header_tag = Setting.find_by(slug: 'header_tag') %>
  <%= header_tag.content.present? ? header_tag.content.html_safe : '' %>
<% end %>

</head>

<body class="<%= yield(:body_class) %>" id="<%= yield(:body_id) %>">
  
  <header>
    <%= render 'layouts/navbar' %>
  </header>

  <div class="container" id="container">
    <div class="row">

      <main role="main" class="col-12">
        <article class="main-content pt-5">
          <%= render 'layouts/flash_messages' %>
          <%= yield %>
        </article>
      </main>

    </div><!-- .row -->
  </div><!-- .container -->
  
  <footer class="bg-light mt-5 border-top">
    <%= render 'layouts/footer' %>
  </footer>
  
  
  <% if footer_tag = Setting.find_by(slug: 'footer_tag') %>
    <%= footer_tag.content.present? ? footer_tag.content.html_safe : '' %>
  <% end %>
  
</body>
  
</html>